<a href="https://colab.research.google.com/github/tjdrms0930/bit/blob/main/20221014_B_TFIDF_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#TF-IDF 값 목록을 반환하시오.
# 책의 TF-IDF 값은 단어별로 TF-IDF값을 계산한 값의 합으로 한다.
def racking(books,query):
  query_words = query.split(' ')
  scores = np.zeros(len(books))
  for qw in query_words:
    idf = cal_idf(books, qw)
    for bi, book in enumerate(books):
       tf = cal_tf(book,qw)
       scores[bi]+=tf*idf
  return scores

In [12]:
# books = ['i am a boy You are a girl',
#          'll est la elle est la ces',
#          'korea python fighting']
# query = 'la korea'
# ranking(books,query)

NameError: ignored

tf = fre_a/total words, fre_a는 문서에 단어가 나오는 빈도수

idf = log((total doc+1)/(1+fre_b))

In [2]:
import math
import numpy as np

In [9]:
def cal_idf(books, word):
  cnt = 0
  for book in books:
    words = book.split(' ')

    for ew in words:
      if ew == word:
        cnt+=1
        break
  print(cnt)
  return math.log((len(books)+1)/(1+cnt))

In [10]:
cal_idf(['i am a boy you ara a girl', 'hello world', 'we are girls'],'girl')

1

0.6931471805599453

In [4]:
def cal_tf(book,word):
  words = book.split(' ')
  fre = 0
  for ew in words:
    if ew == word:
      fre+=1
  return (fre)/len(words)

In [7]:
cal_tf('i am a boy you ara a girl', 'girl')

0.125